/* sidebar.css */
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px 20px;
}

.menu ul li a {
    color: #cfd8dc;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.menu ul li a.active {
    background-color: #374a61;
    color: #ffffff;
}

.menu ul li a:hover {
    background-color: #374a61;
}

.logout {
    margin-top: 70px;
}
